.hotspotstyle {
  color: #ffffff;
  /* 文字颜色 */
  background-color: rgba(0, 0, 0, 0.7);
  /* 背景颜色 */
  border: 1px solid #ffffff;
  /* 边框 */
  padding: 5px;
  /* 内边距 */
  font-family: Arial, sans-serif;
  /* 字体 */
  font-size: 12px;
  /* 字号 */
}